:root {
    /* Colores */
    --primario: #a0bede;
    --secundario: #c6c4c0;
    /* Fuentes */
    --titulo: "Vollkorn", serif;
    --nombre: "Castoro Titling", cursive;
    --especie: "Spectral", serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

p {
    font-size: 1.8rem;
    font-family: var(--especie);
    font-weight: 500;
    color: var(--primario);
}

span {
    color: var(--secundario);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

body {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

/* Escudo Logo */
.logo__Escudo {
    width: 80%;
    margin: auto;
    padding: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: var(--titulo);
    text-align: center;
    margin: 0 auto;
}

.logo {
    width: 10rem;
    cursor: pointer;
}

span {
    letter-spacing: 10px;
    animation: flicker 3s infinite;
    color: #07B604;
}

.neon {
    text-align: center;
    text-shadow: 5px 5px 39px rgb(88, 250, 86);
}

.flickering-w {
    animation: letter-flicker 2s infinite;
}

@keyframes flicker {

    0%,
    19%,
    20.99%,
    22%,
    30%,
    62.99%,
    64%,
    100% {
        opacity: 1;
    }

    20%,
    21.99%,
    31%,
    63%,
    63.99% {
        opacity: 0;
    }
}

@keyframes letter-flicker {

    0%,
    19%,
    22%,
    30%,
    62.99%,
    64%,
    68%,
    76%,
    100% {
        opacity: 1;
    }

    20%,
    21.99%,
    31%,
    63%,
    63.99%,
    67%,
    75% {
        opacity: 0;
    }
}

@media (min-width: 1025px) {
    .logo__Escudo {
        flex-direction: row;
    }

    .logo {
        width: 15rem;
    }

    .titulo {
        font-family: var(--titulo);
        font-size: 8rem;
        text-align: center;
        margin: 0 auto;
    }
}

/* navegacion */
.contenedor__navegacion {
    border-top: 1px solid #e1e1e1;
}

.navegacion {
    font-size: 3rem;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.navegacion a {
    color: #efefef;
    font-family: var(--titulo);
}

#formbusq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#busqueda {
    font-size: 2rem;
    font-family: var(--nombre);
    border-radius: 10px;
}

.boton3 {
    color: black !important;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0 2rem;
    background: #318aac;
    border: 3px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
    border-radius: 15px;
    margin: 1rem;
}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
    }

    #formbusq {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    #busqueda {
        border-radius: 10px;
    }

    .boton3 {
        color: #ced4d7 !important;
        font-size: 2.5rem;
        font-weight: 500;
        padding: 0 2rem;
        background: rgba(0, 0, 0, 0);
        border: 3px solid;
        border-color: #318aac;
        transition: all 1s ease;
        position: relative;
        border-radius: 15px;
        margin: 0 0.5rem;
    }

    .boton3:hover {
        background: #318aac;
        color: black !important;
    }
}


.inicio {
    background-image: url('../build/img/BGI_MHW.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.inicio::before { 
    position: absolute;
    content: "";
    inset: 0;
}
.inicio__info{
    color: wheat;
    position: relative;
    justify-content: center;
}

@media (min-width: 768px) {
    .inicio {
        height: 100vh;
        background-image: url('../build/img/BGI_MHW.webp');
        background-size: cover;
        background-position: center;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .inicio::before { 
        position: absolute;
        content: "";
        inset: 0;
        background-color: rgba(0, 0, 0, .7);
    }
    .inicio__info{
        color: wheat;
        position: relative;
        justify-content: center;
    }
}

/* Inicio Slider */
.info-slider {
    display: flex;
    margin: 3rem;
    flex-direction: column;
}

.slider {
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 4rem;
    justify-content: space-between;
}

.slider__izquierdo,
.slider__derecho {
    display: none;
}

.slider__izquierdo img,
.slider__derecho img {
    display: none;
}

.slider__inner {
    width: 100%;
}

.slider__inner img {
    width: 100%;
}


@media (min-width: 768px) {
    .info-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .slider {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        max-width: 1200px;
        padding: 0 4rem;
        justify-content: space-between;
    }

    .slider__izquierdo,
    .slider__derecho {
        display: block;
        width: 5%;
    }

    .slider__izquierdo img,
    .slider__derecho img {
        display: block;
        width: 100%;
    }

    .slider__inner {
        width: 100%;
    }

    .slider__inner img {
        width: 100%;
    }
}

/* Listado de Monstruos */
.listado__sect {
    text-align: center;
    margin: 4rem;
}

.listado__monstruos {
    display: flex;
    flex-direction: column;

}

.mobile {
    display: block;
    text-align: center;
}

.desktop {
    display: none;

}

@media (min-width: 768px) {
    .listado__monstruos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .desktop {
        display: block;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    .mobile {
        display: none;
    }
}

/* Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
    gap: 1rem;
    justify-content: center;
}

.card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card__monstruo {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    color: #fff;
    position: absolute;
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}

.card:hover .card__monstruo {
    right: 0;
}

.nombre__monstruo {
    text-transform: uppercase;
    font-family: var(--nombre);
    font-size: 2rem;
}


@media (min-width: 768px) {
    .galeria {
        display: flex;
        gap: 1rem;
    }

    .card {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }

    .card__monstruo {
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        color: #fff;
        position: absolute;
        background-color: #1f3d4738;
        backdrop-filter: blur(5px);
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1.5s;
    }

    .card__monstruo:hover {
        right: 0;
    }
}

/* Formulario de Contacto */

.titulo__formulario {
    margin: 0 auto;
    text-align: center;
}

.formulario {
    width: 70%;
    display: flex;
    flex-direction: column;
    color: wheat;
    background: rgba(0, 0, 0, 0.491);
    margin: 5rem auto;
    font-size: 2rem;
    border-radius: .8rem;
    gap: 3rem;
}

.form__input {
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: whitesmoke;
    border-radius: 2rem;
    margin: 1.5rem 0;
}

.form__text {
    width: 100%;
    height: 10rem;
}

form::placeholder {
    font-size: 1.4rem;
    color: wheat;
}

.enviar {
    width: 100%;
    height: 5rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2rem;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    transition: all .5 ease;
}

.alerta {
    width: 100%;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding: 2rem 0;
}


@media (min-width: 768px) {}


/* Footer */
.pie__pagina {
    margin-top: 3rem;
    width: 100%;
    background-color: #0a141d;

}

.grupo__1 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    padding: 4.5rem 0;
}

.box h2 {
    color: #fff;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.box p {
    color: #efefef;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
}

.red__social a {
    display: inline-block;
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    color: #fff;
    margin-right: 1rem;
    background-color: #0d2033;
    text-align: center;
    font-size: 3.5rem;
    border-radius: 30%;
}

.red__social a:hover {
    color: #DC5909;
}

.grupo__2 {
    background-color: #0a1a2a;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #fff;
}

.grupo__2 small {
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .grupo__1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        padding: 4.5rem 0;
    }
}